body {
  background-color: rgba(17, 4, 17, 0.829);
  color: #eee;
  height: 100%;
}

.App {
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 90px;
  height: 90px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.loading-wrapper{
  width: 100%;
  height: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.navigation-area{
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;
}

.diy-area {
  margin-top: 80px;
}

.diy-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.diy-disclaimer{
  max-width: 800px;
  margin: auto;
  padding: 10px;
  border: 2px solid rgb(151, 0, 0);
  font-size: 18px;
}

.diy-form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: auto;
  margin-top: 30px;
}

.diy-form label {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 18px;
}

.diy-form input {
  margin-bottom: 10px;
  background-color: rgba(17, 4, 17, 0);
  border: 2px solid orange;
  border-radius: 5px;
  color: orange;
  height: 31px;
  font-size: 16px;
  font-weight: 700;
  padding: 2px 15px;
}

.diy-button {
  color: orange;
  border: 2px solid orange;
  background-color: rgba(17, 4, 17, 0);
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  height: 100%;
  font-size: 18px;
}